@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  /* border: 1px solid red; */
}

html {
  scrollbar-gutter: stable;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  color: var(--color-text);
  font-family: var(--font-family), sans-serif;
  letter-spacing: -0.03125em;
  background: var(--color-backdrop-highlight);
}

body {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background: var(--color-backdrop);
  border-top: 3px solid var(--color-decorative-600);
  background: linear-gradient(
    to top,
    var(--color-backdrop),
    var(--color-backdrop-highlight)
  );
}

em {
  font-style: italic;
}

code {
  font-family: var(--font-family-mono);
}

h1 {
  font-size: 1.75rem;
  font-weight: 650;
}

h2 {
  font-size: 1.5rem;
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-weight: 500;
}

p {
  font-size: 1.25rem;
  margin-bottom: 1.5em;

  code {
    display: inline-block;
    font-size: 0.9em;
    background: var(--color-inline-code-bg);
    padding: 3px 6px;
    margin: -0.25em -1px;
    border-radius: 3px;
  }
}

a {
  color: currentColor;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 0.125em;
  font-weight: 500;
  transition: all 200ms;

  &:hover {
    text-underline-offset: 0.175em;
  }
}

button {
  padding: 0;
}

@media (min-width: 35rem) {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

.blog-post {
  li {
    list-style-type: '→';
    padding-inline-start: 10px;
  }
}
